<ul>
  {% for el in col %}
    <li>
      <a href="{{ el.url }}">
        {{ el.content }}
      </a>
    </li>
  {% endfor %}
</ul>

<body
  attr='value'
  {{ block.attributes }}
  {% if settings.reduce_animations %}
    data-reduce-animations
  {% endif %}
></body>

